@using GitBuddy.Core.Models
@using GitBuddy.UI.Models

@if (Info is not null && (Info.Ahead > 0 || Info.Behind > 0))
{
    <span class="sync-badge" title="@($"{Info.Behind} behind, {Info.Ahead} ahead")">
        @if (Info.Behind > 0) { <span>&#8595;@Info.Behind</span> }
        @if (Info.Ahead > 0) { <span>&#8593;@Info.Ahead</span> }
    </span>
}

@code {
    [Parameter] public SyncInfo? Info { get; set; }
}
